/*-- scss:rules --*/
  
  section.slide h2 {
    color: white !important;
    background-color: orange !important;
    width: 200vw;
    position: relative;
    left: -20vw;
    padding-left: 20vw;
    padding-top: 5px;
    padding-bottom: 5px;
  }